@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500');
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
}
body {
	padding-top: 50px;
}
.navbar {
	margin-bottom: 0;
}
nav .navbar-brand {
	padding: 5px 15px;
}
nav li:hover {
	background: #e7e7e7;
}
.jumbotron {
	background: url("http://www.piersphoto.com/custom-images/Olympics-055.jpg") center /cover;
	height: calc(100vh - 50px);	/*skoro jesli zostaje sam calc bez paddingu na body, to podwija mi wysokosc hero i navbar zaslania go, to jesli wyrzuce calca powinno ladnie pokryc strone, a nie pokrywa tylko wystaje. Zostawiam wiec i calca i padding na body, ale to mi się nie spina logicznie ;/*/
	padding: 0;
}

.jumbotron > div {
	height: 100%;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto; /*niestety musialem i tak wspomoc sie flexem bo nie jumobtron nie wyrownal mi w pionie naglowka i buttona*/
	color: #fff;
	background-color: rgba(0, 0, 0, .7);
}
.gallery .row > img {  /*hmm no tak ale wg boostrapa to nie tworzy sie nowy row wiec chyba wbrew filozofii grida, ale rozumiem dla wyzszego celu*/
	margin-bottom: 10px;
}
.schedule > div {
	margin: 30px auto;
}
.schedule th {
	text-align: center;
}
.form [class*="col-"] {
/*	padding: 0 20px; /*nie moge zlokalizowac dlaczego jak nic nie dam to nie ma przerwy jak dam 10px to kolumny na siebie zachodza, 20px juz jest ok robi sie przerwa, w konsoli nie czasje jak to jest pozachodzone*/
}
.form-horizontal .form-group {
	margin: 5px auto;
}
.form .btn {
	margin-top: 7px;
}
footer > div {
	background: #313234;
	padding: 10px 0;
	color: #fff;
	margin-top: 10px;
}
footer p {
	margin: 0 auto;
}
